/* styles go here */

.form_input {
  display: block;
  margin-bottom: 10px;
}

.form_input:last-child {
  margin-bottom: 0;
}

fieldset {
  margin-bottom: 20px;
}

.radio {
  display: inline-block;
  margin-bottom: 10px;
}
